.login-form-wrapper .login-toggle-info {font-size: 12px;text-align: center;margin-top: 10px;}
.username {display: inline-block;margin-right: 20px;}
.ticket-list .approved {background-color: green;color:white;}
.ticket-list .rejected {background-color: red;color:white;}
.ticket-list .pending {background-color: black;color:white;}
.ticket-description {margin-top:30px}
.review-options-wrapper {margin-top:50px;padding: 50px;}
.review-options-wrapper .card-body .btn {margin: 10px;}
.review-options-wrapper
.ticket-form-wrapper .error-message, .login-form-wrapper .error-message {font-size: 12px;color: red;}
.filters select, .filters label {margin-right:10px}
.filters .btn {margin-right: 10px;margin-top: 5px;}
.ticket-list tr {cursor: pointer;}